*
{
	margin:0;
}

html, body
{
	height: 100%;
}

p
{
	margin-bottom: 20px;
	
}

.clear
{
	clear: both;
}
/*Navigation*/

nav
{
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
	text-align: center;
}

nav a
{
	text-decoration: none;
	color: #fed136 !important;
	font-weight: bold;
}

.navbar-default 
{
    background-color: rgba(0,0,0,.5) !important;
    border-color: rgba(0,0,0,.5) !important;
}

.menu:hover
{
	background-color: #ccc !important;
}

.thibi
{
	font-size: 25px;
}
.navbar-nav .nav-item .nav-link
{
	padding: 15px !important;
}

.nav-item a
{
	color: #fff !important;
	font-weight: bold;
}

.nav-item a:hover
{
	color: #fed136 !important;
}

/*Header*/

.img1
{
	background-image: url('../img/header-bg.jpg');
}

.img-head
{
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

.intro-text
{
	padding-top: 300px;
	padding-bottom: 200px;
}

.intro-lead-in 
{
    
    color: #fff;
	font-size: 40px;
	font-style: italic;
	text-align: center;
	margin-bottom: 40px;
}

.intro-heading
{
	color: #fff;
	font-size: 65px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
}

.btn-xl
{
	background-color: #fed136;
	border: none;
}

.btn-xl:hover
{
	background-color: #f5bf06;
	color: #000;
}

.btn-tell
{
	text-align: center;
}

.btn-tell a
{
	width: 100%;
	padding: 20px 30px;
	border-radius: 30px !important;
	color: #000;
	font-weight: bold;
	height: 65px;
	font-size: 20px;
}

/*Services*/

#service 
{
    padding-top: 300px;
    padding-bottom: 200px;
}

.img2
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/header-bg2.jpeg');
}

.sec-img
{
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

.section-heading
{
	color: #fff;
	font-weight: bold;
	font-size: 40px !important;
}

.section-subheading
{
	font-style: italic;
	font-size: 20px;
	color: #6c757d !important;
	margin-bottom: 50px;
}

.fa-mask 
{
    width: 128px;
    height: 128px;
    vertical-align: middle;
}
.fas
{
	display: inline-block;
	vertical-align: middle;
	color: #fed136;
	font-size: 128px;
}
.fas2
{
	margin-top: 48px;
	font-size: 80px;
}
.service-heading
{
	color: #fff;
	font-weight: bold;
	font-size: 25px;
}
.text-line
{
	color: #6c757d !important;
	font-size: 16px;
	text-align: center;
	font-style: italic;
}

/* Portfolio Grid */

.bg-light
{
	background-color: #f8f9fa !important;
	padding-top: 150px;
	padding-bottom: 150px;
}

.portfolio-item
{
	margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-link
{
	position: relative;
	display: block;
	max-width: 400px;
	max-height: 300px;
	margin: 0 auto;
	cursor: pointer;
}

.portfolio-caption 
{
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

.portfolio-link .portfolio-hover .portfolio-hover-content 
{
    font-size: 20px;
    position: absolute;
    top: 42%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}

.section-heading2
{
	color: #d1d0d0 !important;
	font-weight: bold;
	font-size: 30px;
}

.portfolio-caption h4
{
	color: #d1d0d0 !important;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover 
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease .5s;
    opacity: 0;
    background: rgba(254, 209, 54, .9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover 
{
	opacity: 1;
    background: rgba(254, 209, 54, .9);
    color: #fff;
}

/* About */

#about 
{
    padding: 150px 0;
}

.timeline 
{
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 48%;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #ffdf3e;
    height: 1105px;
}

.timeline > li .timeline-img 
{
    position: absolute;
    text-align: center;
    color: #fff;
    border: 7px solid #ffdf3e;
    border-radius: 100%;
    background-color: #ffdf3e;
    width: 170px;
    height: 170px;
    left: 41%;
}

.timeline-img img
{
	text-align: center;
}

.rounded-circle
{
	border-radius: 50% !important;
}                   

.timeline-heading h4
{
    color: #d1d0d0;
    font-weight: bold;
    font-size: 20px;
}

.timeline > li
{
	position: relative;
	margin-bottom: 50px;
	min-height: 225px;
}

.timeline-img h4
{
	font-weight: bold;
	margin-top: 45px;
}

.timeline > li .timeline-panel 
{
    float: left;
    width: 41%;
    text-align: right;
    padding: 0 100px 20px 20px;
}

.timeline > li.timeline-inverted > .timeline-panel 
{
    float: right;
    text-align: left;
}    
.text
{
	font-size: 16px;
}

.timeline > li:last-child 
{
    margin-bottom: 0;
}

/*Team*/

#team
{
	padding: 150px 0px;
}

.team-member img 
{
    width: 225px;
	height: 225px;
	border: 7px solid #fff;
}

.section-heading3
{
	color: #d1d0d0 !important;
	font-weight: bold;
	font-size: 30px;
}

.team-member 
{
    margin-bottom: 50px;
    text-align: center;
}

.team-member h4
{
	color: #d1d0d0 !important;
	font-weight: bold;
	font-size: 25px;
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #212529;
}

ul.social-buttons li a:hover
{
	background-color: #ffdf3e;

}
.mx-auto
{
	margin-left: auto !important;
	margin-right: auto !important;
	float: none; 
}

/*Clients*/

.client 
{
    padding: 40px 0px;
}

/*Contact*/

#contact
{
	padding: 200px 0px;
}

.con
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/header-bg2.jpeg');
}

.con-img
{
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.section-heading4
{
	
	color: #fff !important;
	font-weight: bold;
	font-size: 30px;
}

section#contact .form-group 
{
    margin-bottom: 25px;
    padding-right: 20px;
}

section#contact .form-group input.form-control, section#contact .form-group select.form-control 
{
    height: auto;
    text-align: center;
}

section#contact .form-group input, section#contact .form-group textarea, section#contact .form-group select 
{
    padding: 20px;
    background-color: rgba(0,0,0,0);
}

section#contact .form-group textarea.form-control 
{
    height: 236px;
}

.msg
{
	color: #a94442;
}

.send 
{
    background-color: #ffdf3e;
    border-color: #ffdf3e;
    width: 100%;
	height: 70px;
	font-weight: bold;
	font-size: 20px;
	color: #000;
}

/*Footer*/

footer 
{
    padding: 25px 0;
    text-align: center;
    background-color: #000;
}

.copyright
{
	font-size: 15px;
	line-height: 40px;
	color: #ffdf3e;
}

.quicklinks > .list-inline-item a
{
	color: #ffdf3e !important;
}


#mainNav .navbar-nav .nav-item .nav-link.active  
{
    color: #fed136;
}

#mainNav .navbar-nav .nav-item .nav-link:hover
{
	color: #fed136;
}


/*Media*/

@media screen and (min-width: 0px) and (max-width: 320px)
{
	.timeline > li 
	{
    	position: relative;
    	margin-bottom: 50px;
    	min-height: 355px;
	}
	.timeline > li .timeline-panel 
	{
    	position: relative;
    	float: right;
    	width: 100%;
    	padding: 0 20px 0 100px;
    	text-align: left;
	}
	.timeline > li .timeline-img 
	{
    	position: absolute;
    	text-align: center;
    	color: #fff;
    	border: 7px solid #ffdf3e;
    	border-radius: 100%;
    	background-color: #ffdf3e;
    	width: 90px;
    	height: 90px;
    	left: 0%;
	}
	.timeline::before 
	{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 15%;
    	width: 2px;
    	margin-left: -1.5px;
    	content: '';
    	background-color: #ffdf3e;
    	height: 1707px;
	}
	.timeline-img h4 
	{
    	font-weight: bold;
    	font-size: 10px;
    	line-height: 14px;
    	margin-top: 12px;
	}
	
	.timeline > li:last-child 
	{
    	margin-bottom: 0;
    	min-height: 0px;
	}
}

@media screen and (min-width: 321px) and (max-width: 767px) 
{
	.timeline > li .timeline-panel 
	{
    	position: relative;
    	float: right;
    	width: 100%;
    	padding: 0 20px 0 100px;
    	text-align: left;
	}
	.timeline > li .timeline-img 
	{
    	position: absolute;
    	text-align: center;
    	color: #fff;
    	border: 7px solid #ffdf3e;
    	border-radius: 100%;
    	background-color: #ffdf3e;
    	width: 90px;
    	height: 90px;
    	left: 0%;
	}
	.timeline::before 
	{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 6%;
    	width: 2px;
    	margin-left: -1.5px;
    	content: '';
    	background-color: #ffdf3e;
    	height: 848px;
	}
	.timeline-img h4 
	{
    	font-weight: bold;
    	font-size: 10px;
    	line-height: 14px;
    	margin-top: 12px;
	}
	.timeline > li 
	{
    	position: relative;
    	margin-bottom: 50px;
    	min-height: 140px;
	}
	.timeline > li:last-child 
	{
    	margin-bottom: 0;
    	min-height: 0px;
	}
	
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
	.timeline > li .timeline-panel 
	{
    	position: relative;
    	float: left;
		width: 41%;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.timeline > li .timeline-img 
	{
    	position: absolute;
    	text-align: center;
    	color: #fff;
    	border: 7px solid #ffdf3e;
    	border-radius: 100%;
    	background-color: #ffdf3e;
    	width: 90px;
    	height: 90px;
    	left: 44%;
	}
	.timeline::before 
	{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 50%;
    	width: 2px;
    	margin-left: -1.5px;
    	content: '';
    	background-color: #ffdf3e;
    	height: 1236px;
	}
	.timeline-img h4 
	{
    	font-weight: bold;
    	font-size: 14px;
		line-height: 18px;
		margin-top: 14px;
	}
	.timeline > li 
	{
    	position: relative;
    	margin-bottom: 50px;
    	min-height: 238px;
	}
	.timeline > li:last-child 
	{
    	margin-bottom: 0;
    	min-height: 0px;
	}
} 
