.row
{
	padding: 0; 
	margin:0;
}
#header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/home/kss-07/Desktop/login/img/header-bg2.jpeg) !important;
	height: auto;
	background-size: cover;
	background-position: center;
}
#logo img 
{
    width: 115px;
    margin-top: 20px;
}
.list
{
	list-style: none;
}
.list li
{
	display: inline-block;
	margin-top: 55px;
}
.list li a 
{
    padding: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.list li a:hover
{
	color: #fed136;
}
.radiobtn
{
	float: right;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.radio-list
{
	margin: 5px !important;
}
.outlet 
{
    padding: 20px;
    color: #fff;
}
.user-form 
{
    width: 50%;
    margin: auto;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.user 
{
    text-align: center;
    margin-bottom: 20px;
}
.u-name 
{
    width: 50%;
    height: 55px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 6px;
    background: none;
    color: #fff;
}
.u-name:hover
{
	border:2px solid #f5bf06;
}
.submitbtn
{
	text-align: center;
}
.log 
{
    padding: 12px 25px;
    background-color: #f5bf06;
    font-weight: bold;
    border-color: #f5bf06;
}
.log:hover
{
	background-color: #fed136;
	border-color: #fed136;
}
.check
{
	color: #fff;
}
.pass
{
	float: right;
	color: #EC0F0F;
}




