* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}
p {
    z-index: 10000;
    font-size: 100px;
    text-align: center;
    color: #fff;
    font-family: 'lato';
    padding-top: 100px;     
} 
#slider
{
    width: 100%;
    height: 260px;
    margin-top: 140px;
    box-shadow: 0 0 15px 1px #000;
}
#slider figure.slider-container .slide
{
    width: 20%;
    float: left;
    position: relative;
    height: 100%;
    overflow: hidden;
}
#slider figure.slider-container #slides 
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#slider figure.slider-container img
{
    width: 100%;
    float: left;
    display: block;
    height: 100%;
}
#slider figure.slider-container
{
    position: relative;
    width: 500%;
    margin:0;
    left:0;
    animation: 30s slider infinite;
    height: 260px;
    overflow: hidden;
}
#slider #slides:hover
{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
#slider .slide .caption
{
    width: 35%;
    height: 100%;
    position: absolute;
    background-color: #4ba85d;
    color: #fff;
    padding: 17px 10px;
    opacity: 0.8;
}
#slider .slide .caption .cap-content
{
    font-size: 120%; 
    line-height: 150%;
    position: relative;
    color:#fff !important;    
    font-weight:bold; 
}
#slider .slide .caption .cap-content:before,
#slider .slide .caption .cap-content:after
{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  border-color: #FD756C;
  border-style: solid;
}

#slider .slide .caption .cap-content:before
{
  border-width: 2px 0 0 2px;
  top: 52%;
  left: 0%;
}
#slider .slide .caption .cap-content:after
{
  border-width: 0 2px 2px 0;
  bottom: -17%;
  right: 0%;
}

@keyframes slider
{
    0%{
        left: 0%;
    }
    10%{
        left: 0%;
    }
    12%{
        left: -100%;
    }
    22%{
        left: -100%;
    }
    24%{
        left: -200%;
    }
    34%{
        left: -200%;
    }
    36%{
        left: -300%;
    }
    46%{
        left: -300%;
    }
    48%{
        left: -400%;
    }
    58%{
        left: -400%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    72%{
        left: -200%;
    }
    82%{
        left: -200%;
    }
    84%{
        left: -100%;
    }
    94%{
        left: -100%;
    }
    96%{
        left: 0%;
    }
} 